<script src="{{ root_url }}/javascripts/libs/jquery/jquery-2.0.3.min.js"></script>
<script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
<script src="{{ root_url }}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ root_url }}/assets/lightbox/js/jquery-1.11.0.min.js"></script>
<script src="{{ root_url }}/assets/lightbox/js/lightbox.min.js"></script>
<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/assets/lightbox/css/lightbox.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/stylesheets/myStyle.css" rel="stylesheet" type="text/css">
