<hgroup>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-1">
				<img src="{{ root_url }}/images/logo.jpg" width="100" height="90"/>
			</div>
			<div class="col-md-6">
				<h4 style="color:#01662e">ФАКУЛЬТЕТ ОРГАНИЧЕСКОЙ ХИМИИ И ТЕХНОЛОГИИ </h4>
				<h5>ИВАНОВСКИЙ ГОСУДАРСТВЕННЫЙ ХИМИКО-ТЕХНОЛОГИЧЕСКИЙ УНИВЕРСИТЕТ </h5>
			</div>
			<div class="col-md-3">
				<address>
          153000, г. Иваново, пр. Шереметевский, 7 <br>
					<abbr title="Телефон">тел:</abbr> +7 (4932) 93-93-31
				</address>
			</div>
		</div>
    <h4></h4>
	</hgroup>
